body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, div, span, p {
    color: var(--g-dark-grey-color);
}
