.buttons-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &_no-margin {
        margin-bottom: 0;
    }

    .like-button {
        display: inline-block;
    }

    button, .like-button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}
